
img{
  width: 100%;
  max-height:196px;
}
body{
  color:black;
}
.movie{
  height: 310px;
}

.search, .drama,.kids,.rated{
  padding:30px 0;
}
.search{
  background-color:#389C90;
}

.drama{
  background-color: #5D7B25;
}
.kids{
  background-color: #D87832;
}
.rated{
  background-color:#84457D;
}
.info{
  margin-bottom: 30px;
}
p{
  margin-bottom: 0;
}
a{
  color: black;
}
a:hover{
  color: black;
}
.movieName{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}



.nav>li{
    position: relative;
    display: block;
    padding: 15px;
    float: left;
    cursor: pointer;
    color:white;
    text-transform: uppercase;
}
.menu{
  background-color: #3b1836;
}
.navbar-default {

    border: none;
    border-radius: 0;
  }
.nav>li:hover{
  text-decoration: underline;
}
